.inside_box {
  box-shadow: 0 0 10px -2px rgb(0 0 0 / 50%);
  margin: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  font-family: "Montserrat",sans-serif;
  background-color: #fff;
  height: 120px;
  width: 400px;
  flex: 0.3;
}

.box_logo {
  flex: 30% 1;
  padding-right: 15px;
}
.box_logo>img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  image-rendering: -webkit-optimize-contrast;
}
.box_des {
  flex: 70% 1;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tit {
  font-size: 18px;
  border-radius: 5px;
  background-color: #f0f8ff;
  padding: 5px;
  font-weight: 700;
}
.box_des>p {
  display: flex;
  align-items: center;
}
.butt{
  background-color: #4285f4;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  margin-left: auto;
  padding: 5px 20px;

}