.register{
  height: 100vh;
  min-height: 100%;
  display: flex;
  align-items: center;
  font-family: 'Inter', sans-serif;
}
.register_left{
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: whitesmoke;
  height: 100%;
}

.register_left > h1{
  font-size: 3.0rem;
}
.register_left > h2{
  font-size: 1.5rem;
}
.regLogo{
  width: 200px;
}
.regImage{
  width: 500px;
}
.register_right{
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.register_right > h3{
  font-size: 2.0rem;
}

.regform{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}
.regform > input{
  padding: 10px 15px;
  border: 1px solid #d3d3d3;
  font-family: inherit;
  font-size: 16px;
}
.regform > input:focus{
  outline: none;
}
.regBtn{
  padding: 7px 10px;
  color: white;
  background: linear-gradient(#0e63eb, #0052d6) !important;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
}
.regform > p{
  cursor: pointer;
}

@media screen and (max-width: 1030px){
  .regImage{
    width: 300px;
  }
  .regform{
    width: 80%;
    height: 60%;
  }
  .register_left > h1{
    font-size: 2.0rem;
  }
  .register_left > h2{
    font-size: 1.2rem;
  }
  .regLogo{
    width: 150px;
  }
}