.resetPassword{
  height: 100vh;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}
.reset_form{
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
}
.reset_inputBar{
  display: flex;
  flex-direction: column;
}
.reset_inputBar > input{
  padding: 10px 15px;
  border: 1px solid #d3d3d3;
  background: transparent;
  font-family: inherit;
  font-size: 16px;
}
.reset_btn{
  padding: 10px 15px;
  border: none;
  background: #212121;
  color: white;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
}
.reset_btn:focus{
  outline: none;
}
.reset_btn:active{
  transform: scale(0.89);
}